<footer th:fragment="footer">
		<div class="footer">
			<div class="copyright">
				<p>
					Copyright &copy; Designed & Developed by <a
						href="https://www.amhconsulting-group.com/">AMH Consulting
						Group</a> 2022
				</p>
			</div>
		</div>
		<!--**********************************
            Footer end
        ***********************************-->
	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<script th:src="@{/static/plugins/common/common.min.js}"></script>
	<script th:src="@{/static/js/custom.min.js}"></script>
	<script th:src="@{/static/js/settings.js}"></script>
	<script th:src="@{/static/js/gleek.js}"></script>
	<script th:src="@{/static/js/styleSwitcher.js}"></script>

	<!-- Char.js} -->
	<script th:src="@{/static/plugins/Chart.bundle.min.js}"></script>
	<!-- Circle progress -->
	<script
		th:src="@{/static/plugins/circle-progress/circle-progress.min.js}"></script>
	<!-- Datamap -->
	<script th:src="@{/static/plugins/d3v3/index.js}"></script>
	<script th:src="@{/static/plugins/topojson/topojson.min.js}"></script>
	<script th:src="@{static/plugins/datamaps/datamaps.world.min.js}"></script>
	<!-- Morri.js} -->
	<script th:src="@{/static/plugins/raphael/raphael.min.js}"></script>
	<script th:src="@{/static/plugins/morris/morris.min.js}"></script>
	<!-- Pignose Calender -->
	<script src="@{/static/plugins/moment/moment.min.js}"></script>
	<script src="@{/static/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
	<!-- ChartistJS -->
	<script src="@{/static/plugins/chartist/js/chartist.min.js}"></script>
	<script
		src="@{/static/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>



	<script th:src="@{/static/js/dashboard/dashboard-1.js}"></script>

</body>

</footer>

</html>