<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>ZENEVENT</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
    
</head>

<body class="h-100">
    
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
  
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="index.html"> <h4>ZENEVENT</h4></a>
                                	<div class="alert text-white bg-danger" th:if="${param.error}"
									     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
									    Reason: <span  th:text="${errorMsg}">Wrong input!</span>
									</div>
                                <div class="alert text-white bg-success" th:if="${param.logout}">
                                	Vous vous etes deconnecte
                                </div>
        
                                <form class="mt-5 mb-5 login-input" th:action="@{login}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="username" placeholder="Username"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Password"/>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Login</button>
                                </form>
                                <p class="mt-5 login-form__footer">Dont have account? <a href="page-register.html" class="text-primary">Sign Up</a> now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script th:src="@{/static/plugins/common/common.min.js}"></script>
    <script th:src="@{/static/js/custom.min.js}"></script>
    <script th:src="@{/static/js/settings.js}"></script>
    <script th:src="@{/static/js/gleek.js}"></script>
    <script th:src="@{/static/js/styleSwitcher.js}"></script>
</body>
</html>





